/*Medium devices (landscape tablets, 768px and down)*/
body{
    main{
        .intro{
            margin-top: 29px;
            margin-right: 16px;
            margin-left: 16px;
            h1{
               @include h1-mobile; 
                max-width: 250px;
            }
            p{
                @include p-block-mobile;
                span{
                    display: none;
                }
            }
            .button-container{
                margin-top: 36px;
                margin-bottom: 24px;
                text-align: center;
                button{
                    @include button-mobile;
                    &:hover{
                        @include button-hover;
                    }
                }
            }
        }
        .episodes{
            position: relative;
            z-index: -1;
            width: 100%;
            height: 1204px;
            background-image: $bacckground-image-gradient;
            clip-path: polygon(100% 0, 100% 97%, 0 100%, 0 3%);
            display: flex;
            flex-direction: column;
            h2{
                margin: 55px 16px 20px 16px;
                color: $color-secondary;
                @include h2-mobile;
            }
            .iframe-container{
                margin: 11px;
                iframe{
                    width:100%;
                    height: 232px;
                }
            }
        }
        .us{
            .img-container{
                z-index: 1;
                transform: translatey(-105px);
                display: flex;
                justify-content: center;
                img{
                    width: 320px;
                }
            }
            .text-container{
                margin: -84px 16px 0px 16px; 
                h2{
                    color: $color-primary;
                    @include h2-mobile;
                }
                p{
                    @include p-block-mobile;
                }
            }
        }
        .interviews{
            margin-top: 54px;
            h2{
                color: $color-primary;
                margin-left: 16px;
                margin-right:16px;
                margin-bottom: 20px;
                @include h2-mobile;   
            }
            .img-container{
                    img{
                    width: 100%;
                    display:block;
                }
            }
        }
        .topics{
            margin:48px 16px 0px 16px;
            h2{
                color: $color-primary;
                @include h2-mobile; 
            }
            .icons-container{
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: center;
                width: 100%;
                height: 700px;
                p{
                    font-family: 'IBM Plex San-SemiBold', sans-serif;
                    font-size: 24px;
                    line-height: 1.34em;
                    color: $color-primary;
                }
            }
        }
        .news{
            position: relative;
            width: 100%;
            height: 341px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: $bacckground-image-gradient;
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
            text-align: center;
            h2{
                margin-top: 24px;
                margin-bottom: 16px;
                max-width: 260px;
                color: $color-secondary;
                @include h2-mobile;
            }
            .button-container{
                margin-top: 36px;
                margin-bottom: 24px;
                text-align: center;
                button{
                    @include button-mobile;
                    &:hover{
                        @include button-hover;
                    }
                }
            }
        }
    }
}

/* medium devices (tablets, 768 and and up) */
@media only screen and (min-width: 768px){
    body{
        main{
            .intro{
                h1{
                    max-width: 100%;
                }
            }
            .episodes{
                height: 1043px;
                clip-path: polygon(0 12%, 100% 0, 100% 91%, 0% 100%);
                justify-content: center;
                .iframe-container{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    iframe{
                        width: 40%;
                        padding: 11px;
                    }
                }
            }
            .us{
                display: flex;
                flex-wrap: wrap;
                .img-container{
                    width: 320px;
                    transform: translate(3px, -141px);
                    img{
                        width: 320px;
                    }
                }
                .text-container{
                    width: 300px;
                    transform: translatey(112px);
                }
            }
            .interviews{
                margin-top: -100px;
                .img-container{
                    display:grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
                }
            }
            .topics{
                .icons-container{
                    flex-direction: row;
                    align-items: center;
                    height: 300px;
                }
            }
            .news{
                clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
                h2{
                    max-width: 100%;
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    body{
        main{
            .intro{
                margin-left: 166px;
                h1{
                    @include h1-desktop;
                    span{
                        color: $color-dot;
                        font-family: $font-family-title;
                    }
                }
                p{
                    max-width: 630px;
                    @include p-block-desktop;
                    span{
                        display: inline;
                    }
                }
                .button-container{
                    text-align: left;
                    button{
                        @include button-desktop;
                    }    
                }
            }
            .episodes{
                height: 1042,60px;
                h2{
                    margin-top: -52px;
                    margin-left: 166px;
                    @include h2-desktop;
                }
                .iframe-container{
                    width: 100%;
                    display:flex;
                    justify-content: space-evenly;
                    iframe{
                        margin-bottom: 44px;
                    }
                }
            }
            .us{
               display: flex;
               justify-content: center;
               .img-container{
                   width: 400px;
                   transform: translate(3px, -192px);
                   img{
                       width: 100%;
                   }
                }
                .text-container{
                    width: 481px;
                    padding-left: 115px;
                    h2{
                        @include h2-desktop;
                    }
                    p{
                        @include p-block-desktop;
                    }
                }
            } 
            .interviews{
                h2{
                    margin-left: 166px;
                    @include h2-desktop;
                }
                .img-container{
                    display:grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
            .topics{
                h2{
                    margin-left: 166px;
                    @include h2-desktop;
                }
                .icons-container{
                    justify-content: center;
                    img{
                        padding:30px;
                    }
                    p{
                        padding:30px;
                    }
                }
            }
            .news{
                height: 518px;
                clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
                h2{
                    margin-top: 121px;
                    @include h2-desktop;
                }
                button{
                    @include button-desktop;
                }
            }
        }
    }
}