$background-color-primary:#FFFFFF;
$background-color-secondary:#0000EC;
$bacckground-image-gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$font-family-title: 'IBM Plex Sans', sans-serif;
$font-family: 'IBM Plex Mono', monospace;
$color-primary: #060A24;
$color-secondary: #FFFFFF;
$color-hover: #00F3BB;
$color-active: rgba(6, 10, 36, 0.56);
$color-dot: #0000EC;
$button-background-color: #00F3BB;
$button-background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);