/*Medium devices (landscape tablets, 768px and down)*/
/* Large devices (laptops/desktops, 992px and up) */
html {
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  border: 0; }

/*Medium devices (landscape tablets, 768px and down)*/
body header {
  width: 100%;
  height: 44px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  body header #button-navbar {
    display: none; }
  body header img {
    margin-left: 10px;
    width: 24px;
    height: 24px; }
  body header i {
    margin-right: 10px;
    width: 18px;
    height: 12px;
    color: #060A24; }
  body header #times {
    display: none; }
  body header #bars {
    display: block; }
  body header label {
    display: block; }
  body header .navbar {
    position: absolute;
    right: -100%;
    background-color: #0000EC;
    width: 100%;
    height: 224px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-top: 40px; }
    body header .navbar ul {
      height: 224px;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding-left: 16px; }
      body header .navbar ul li a {
        display: block;
        width: 87px;
        height: 28px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 1.38em;
        font-family: "IBM Plex Mono", monospace; }
  body header #button-navbar:checked ~ .navbar {
    right: 0; }
  body header #button-navbar:checked ~ label #bars {
    display: none; }
  body header #button-navbar:checked ~ label #times {
    display: block; }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body header {
    height: 80px;
    margin-top: 20px; }
    body header #bars {
      display: none; }
    body header img {
      margin-left: 64px; }
    body header .navbar {
      width: 600px;
      position: relative;
      right: 0;
      margin-top: 0;
      height: 80px;
      background-color: #FFFFFF; }
      body header .navbar ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding-left: 0; }
        body header .navbar ul li a {
          font-family: "IBM Plex Mono", monospace;
          font-size: 16px;
          line-height: 1.38em;
          color: #060A24; }
          body header .navbar ul li a:hover {
            color: #00F3BB;
            text-decoration: line-through;
            font-weight: 500; }
          body header .navbar ul li a:active {
            color: rgba(6, 10, 36, 0.56);
            text-decoration: line-through; } }
/*Medium devices (landscape tablets, 768px and down)*/
body main .intro {
  margin-top: 29px;
  margin-right: 16px;
  margin-left: 16px; }
  body main .intro h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060A24;
    line-height: 1.16em;
    max-width: 250px; }
  body main .intro p {
    margin-top: 16px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #060A24;
    line-height: 1.57em; }
    body main .intro p span {
      display: none; }
  body main .intro .button-container {
    margin-top: 36px;
    margin-bottom: 24px;
    text-align: center; }
    body main .intro .button-container button {
      width: 288px;
      height: 48px;
      font-family: "IBM Plex Mono", monospace;
      color: #060A24;
      font-size: 16px;
      line-height: 1.38em;
      background-color: #00F3BB;
      border: none; }
      body main .intro .button-container button:hover {
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        color: #FFFFFF; }
body main .episodes {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 1204px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(100% 0, 100% 97%, 0 100%, 0 3%);
          clip-path: polygon(100% 0, 100% 97%, 0 100%, 0 3%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  body main .episodes h2 {
    margin: 55px 16px 20px 16px;
    color: #FFFFFF;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    line-height: 1.16em; }
  body main .episodes .iframe-container {
    margin: 11px; }
    body main .episodes .iframe-container iframe {
      width: 100%;
      height: 232px; }
body main .us .img-container {
  z-index: 1;
  -webkit-transform: translatey(-105px);
          transform: translatey(-105px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  body main .us .img-container img {
    width: 320px; }
body main .us .text-container {
  margin: -84px 16px 0px 16px; }
  body main .us .text-container h2 {
    color: #060A24;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    line-height: 1.16em; }
  body main .us .text-container p {
    margin-top: 16px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #060A24;
    line-height: 1.57em; }
body main .interviews {
  margin-top: 54px; }
  body main .interviews h2 {
    color: #060A24;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    line-height: 1.16em; }
  body main .interviews .img-container img {
    width: 100%;
    display: block; }
body main .topics {
  margin: 48px 16px 0px 16px; }
  body main .topics h2 {
    color: #060A24;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    line-height: 1.16em; }
  body main .topics .icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 700px; }
    body main .topics .icons-container p {
      font-family: 'IBM Plex San-SemiBold', sans-serif;
      font-size: 24px;
      line-height: 1.34em;
      color: #060A24; }
body main .news {
  position: relative;
  width: 100%;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
  text-align: center; }
  body main .news h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    max-width: 260px;
    color: #FFFFFF;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    line-height: 1.16em; }
  body main .news .button-container {
    margin-top: 36px;
    margin-bottom: 24px;
    text-align: center; }
    body main .news .button-container button {
      width: 288px;
      height: 48px;
      font-family: "IBM Plex Mono", monospace;
      color: #060A24;
      font-size: 16px;
      line-height: 1.38em;
      background-color: #00F3BB;
      border: none; }
      body main .news .button-container button:hover {
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        color: #FFFFFF; }

/* medium devices (tablets, 768 and and up) */
@media only screen and (min-width: 768px) {
  body main .intro h1 {
    max-width: 100%; }
  body main .episodes {
    height: 1043px;
    -webkit-clip-path: polygon(0 12%, 100% 0, 100% 91%, 0% 100%);
            clip-path: polygon(0 12%, 100% 0, 100% 91%, 0% 100%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    body main .episodes .iframe-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      body main .episodes .iframe-container iframe {
        width: 40%;
        padding: 11px; }
  body main .us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    body main .us .img-container {
      width: 320px;
      -webkit-transform: translate(3px, -141px);
              transform: translate(3px, -141px); }
      body main .us .img-container img {
        width: 320px; }
    body main .us .text-container {
      width: 300px;
      -webkit-transform: translatey(112px);
              transform: translatey(112px); }
  body main .interviews {
    margin-top: -100px; }
    body main .interviews .img-container {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr; }
  body main .topics .icons-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px; }
  body main .news {
    -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%); }
    body main .news h2 {
      max-width: 100%; } }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body main .intro {
    margin-left: 166px; }
    body main .intro h1 {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 64px;
      color: #060A24;
      line-height: 1.31em; }
      body main .intro h1 span {
        color: #0000EC;
        font-family: "IBM Plex Sans", sans-serif; }
    body main .intro p {
      max-width: 630px;
      margin-top: 16px;
      font-family: "IBM Plex Mono", monospace;
      font-size: 16px;
      color: #060A24;
      line-height: 1.50em; }
      body main .intro p span {
        display: inline; }
    body main .intro .button-container {
      text-align: left; }
      body main .intro .button-container button {
        width: 226px;
        height: 56px;
        font-family: "IBM Plex Mono", monospace;
        color: #060A24;
        font-size: 18px;
        line-height: 1.33em;
        background-color: #00F3BB;
        border: none; }
  body main .episodes {
    height: 1042,60px; }
    body main .episodes h2 {
      margin-top: -52px;
      margin-left: 166px;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 48px;
      line-height: 1.29em; }
    body main .episodes .iframe-container {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; }
      body main .episodes .iframe-container iframe {
        margin-bottom: 44px; }
  body main .us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    body main .us .img-container {
      width: 400px;
      -webkit-transform: translate(3px, -192px);
              transform: translate(3px, -192px); }
      body main .us .img-container img {
        width: 100%; }
    body main .us .text-container {
      width: 481px;
      padding-left: 115px; }
      body main .us .text-container h2 {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 48px;
        line-height: 1.29em; }
      body main .us .text-container p {
        margin-top: 16px;
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
        color: #060A24;
        line-height: 1.50em; }
  body main .interviews h2 {
    margin-left: 166px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    line-height: 1.29em; }
  body main .interviews .img-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; }
  body main .topics h2 {
    margin-left: 166px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    line-height: 1.29em; }
  body main .topics .icons-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    body main .topics .icons-container img {
      padding: 30px; }
    body main .topics .icons-container p {
      padding: 30px; }
  body main .news {
    height: 518px;
    -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%); }
    body main .news h2 {
      margin-top: 121px;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 48px;
      line-height: 1.29em; }
    body main .news button {
      width: 226px;
      height: 56px;
      font-family: "IBM Plex Mono", monospace;
      color: #060A24;
      font-size: 18px;
      line-height: 1.33em;
      background-color: #00F3BB;
      border: none; } }
/*Medium devices (landscape tablets, 768px and down)*/
body footer {
  margin: 24px;
  height: 100px;
  text-align: center; }
  body footer p {
    margin-top: 16px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #060A24;
    line-height: 1.57em;
    margin-bottom: 30px; }
  body footer .i-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    body footer .i-container a {
      color: #060A24; }
      body footer .i-container a:visited {
        color: #060A24; }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body footer {
    margin: 0;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    body footer p {
      margin-top: 16px;
      font-family: "IBM Plex Mono", monospace;
      font-size: 16px;
      color: #060A24;
      line-height: 1.50em;
      margin-bottom: 0;
      margin-left: 60px; }
    body footer .i-container {
      width: 400px;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

/*# sourceMappingURL=styles.css.map */